<main role="main" class="inner cover text-center mt-auto mb-auto">
  <h1 class="cover-heading">Streamer Event Viewer</h1>
  <p class="lead">
    SEV is an app that allows you to see your favorite streamer's Twitch events in real-time.
    Enjoy a livestream, chat and the most recent events of your favorite streamer.
  </p>
  <p class="lead">
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-lg btn-secondary' %>
    <% else %>
      <%= link_to 'Sign in with Twitch', user_twitch_omniauth_authorize_path, class: 'btn btn-lg btn-secondary' %>
    <% end %>
  </p>
</main>
